In [1]:
import requests
import os
from bs4 import BeautifulSoup
import pandas as pd
pd.set_option('display.max_columns', None)

In [189]:
import warnings 
warnings.filterwarnings('ignore')
import numpy as np

In [3]:
standing_url ='https://hashtagbasketball.com/nba-rookie-rankings'

In [36]:
junks = requests.get(standing_url)

In [37]:
soup_players = BeautifulSoup(junks.content, "html.parser")
player_table = soup_players.find("table",id="ContentPlaceHolder1_GridView1")

In [39]:
players = player_table.find_all("tr")

In [41]:
player_rows = players[1].find_all("td")#,id = )

In [42]:
player_rows

[<td>
 1
 </td>,
 <td>
 <span id="ContentPlaceHolder1_GridView1_Label2_0">Cade Cunningham</span>
 </td>,
 <td>PG,SG</td>,
 <td>DET</td>,
 <td>64</td>,
 <td>32.7</td>,
 <td class="ngood">
 <input id="ContentPlaceHolder1_GridView1_HFfgpzz_0" name="ctl00$ContentPlaceHolder1$GridView1$ctl02$HFfgpzz" type="hidden" value="ngood"/>
 <span id="ContentPlaceHolder1_GridView1_LFGP_0">0.416</span>
 <input id="ContentPlaceHolder1_GridView1_HFFGP_0" name="ctl00$ContentPlaceHolder1$GridView1$ctl02$HFFGP" type="hidden" value="-1.7753546000"/>
 <span class="pull-right small" style="font-size: 0.7em;">(6.70/16.10)</span>
 </td>,
 <td class="good">
 <input id="ContentPlaceHolder1_GridView1_HFftpzz_0" name="ctl00$ContentPlaceHolder1$GridView1$ctl02$HFftpzz" type="hidden" value="good"/>
 <span id="ContentPlaceHolder1_GridView1_LFTP_0">0.844</span>
 <input id="ContentPlaceHolder1_GridView1_HFFTP_0" name="ctl00$ContentPlaceHolder1$GridView1$ctl02$HFFTP" type="hidden" value="0.6056906000"/>
 <span class="pull-right small" style="font-size: 0.7em;">(2.20/2.60)</span>
 </td>,
 <td>
 <input id="ContentPlaceHolder1_GridView1_HFtgmzz_0" name="ctl00$ContentPlaceHolder1$GridView1$ctl02$HFtgmzz" type="hidden"/>
 <span id="ContentPlaceHolder1_GridView1_LTGM_0">1.8</span>
 <input id="ContentPlaceHolder1_GridView1_HFTGM_0" name="ctl00$ContentPlaceHolder1$GridView1$ctl02$HFTGM" type="hidden" value="0.2079375806"/>
 </td>,
 <td class="good">
 <input id="ContentPlaceHolder1_GridView1_HFptszz_0" name="ctl00$ContentPlaceHolder1$GridView1$ctl02$HFptszz" type="hidden" value="good"/>
 <span id="ContentPlaceHolder1_GridView1_LPTS_0">17.4</span>
 <input id="ContentPlaceHolder1_GridView1_HFPTS_0" name="ctl00$ContentPlaceHolder1$GridView1$ctl02$HFPTS" type="hidden" value="0.7453305377"/>
 </td>,
 <td>
 <input id="ContentPlaceHolder1_GridView1_HFrebzz_0" name="ctl00$ContentPlaceHolder1$GridView1$ctl02$HFrebzz" type="hidden"/>
 <span id="ContentPlaceHolder1_GridView1_LREB_0">5.5</span>
 <input id="ContentPlaceHolder1_GridView1_HFREB_0" name="ctl00$ContentPlaceHolder1$GridView1$ctl02$HFREB" type="hidden" value="0.2517754308"/>
 </td>,
 <td class="vgood">
 <input id="ContentPlaceHolder1_GridView1_HFastzz_0" name="ctl00$ContentPlaceHolder1$GridView1$ctl02$HFastzz" type="hidden" value="vgood"/>
 <span id="ContentPlaceHolder1_GridView1_LAST_0">5.6</span>
 <input id="ContentPlaceHolder1_GridView1_HFAST_0" name="ctl00$ContentPlaceHolder1$GridView1$ctl02$HFAST" type="hidden" value="1.5880149352"/>
 </td>,
 <td class="good">
 <input id="ContentPlaceHolder1_GridView1_HFstlzz_0" name="ctl00$ContentPlaceHolder1$GridView1$ctl02$HFstlzz" type="hidden" value="good"/>
 <span id="ContentPlaceHolder1_GridView1_LSTL_0">1.2</span>
 <input id="ContentPlaceHolder1_GridView1_HFSTL_0" name="ctl00$ContentPlaceHolder1$GridView1$ctl02$HFSTL" type="hidden" value="0.9721002323"/>
 </td>,
 <td class="good">
 <input id="ContentPlaceHolder1_GridView1_HFblkzz_0" name="ctl00$ContentPlaceHolder1$GridView1$ctl02$HFblkzz" type="hidden" value="good"/>
 <span id="ContentPlaceHolder1_GridView1_LBLK_0">0.7</span>
 <input id="ContentPlaceHolder1_GridView1_HFBLK_0" name="ctl00$ContentPlaceHolder1$GridView1$ctl02$HFBLK" type="hidden" value="0.5322566674"/>
 </td>,
 <td class="ngood">
 <input id="ContentPlaceHolder1_GridView1_HFturzz_0" name="ctl00$ContentPlaceHolder1$GridView1$ctl02$HFturzz" type="hidden" value="ngood"/>
 <span id="ContentPlaceHolder1_GridView1_LTUR_0">3.7</span>
 <input id="ContentPlaceHolder1_GridView1_HFTUR_0" name="ctl00$ContentPlaceHolder1$GridView1$ctl02$HFTUR" type="hidden" value="2.7965821849"/>
 </td>,
 <td>
 <span id="ContentPlaceHolder1_GridView1_Label1_0">2.43</span>
 </td>]

In [56]:
index_ = []
player_ = []
position_ = []
team_ =[]

In [57]:
for idx in range(len(players)):
    if idx == 0:
        continue
    player_rows = players[idx].find_all("td")
    a=1
    for element in player_rows:
        #print(element.text.strip())
        #print(',',a)
        if a == 1:
            #print(element.text.strip())
            index_.append(element.text.strip())
        if a == 2:
            #print(element.text.strip())
            player_.append(element.text.strip())
        if a == 3:
            #print(element.text.strip())
            position_.append(element.text.strip())
        if a == 4:
            #print(element.text.strip())
            team_.append(element.text.strip())
        a+=1

In [59]:
len(index_) ,len(player_)

(55, 55)

In [60]:
player_dict = {
    'index':index_,
    'player':player_,
    'position':position_,
    'team':team_}

In [61]:
df = pd.DataFrame.from_dict(player_dict)

In [73]:
df = df[~(df.player=='PLAYER')]

   index                  player  position team
0      1         Cade Cunningham     PG,SG  DET
1      2             Evan Mobley      PF,C  CLE
2      3          Scottie Barnes     SF,PF  TOR
3      4           Herbert Jones     SF,PF  NOP
4      5            Franz Wagner  SG,SF,PF  ORL
5      6             Josh Giddey  PG,SG,SF  OKL
6      7             Jalen Green        SG  HOU
7      8            Chris Duarte     SG,SF  IND
8      9          Alperen Sengun         C  HOU
9     10          Isaiah Jackson      PF,C  IND
10    11             Ayo Dosunmu     PG,SG  CHI
11    12         Nah'Shon Hyland     PG,SG  DEN
12    13             Jalen Suggs     PG,SG  ORL
14    14           Isaiah Livers        SF  DET
15    15         Davion Mitchell     PG,SG  SAC
16    16           Corey Kispert     SG,SF  WAS
17    17  Jeremiah Robinson-Earl   SF,PF,C  OKL
18    18                Tre Mann     PG,SG  OKL
19    19         Kessler Edwards     SF,PF  BRO
20    20        Josh Christopher        SG  HOU
21    21           Aaron Wiggins  SG,SF,PF  OKL
22    22         Ziaire Williams        SF  MEM
23    23          Quentin Grimes        SG  NYK
24    24            Keon Johnson        SF  POR
25    25          Day'Ron Sharpe      PF,C  BRO
26    26        Jonathan Kuminga     SF,PF  GSW
28    27          Cameron Thomas        SG  BRO
29    28          Charles Bassey         C  PHI
30    29            Joshua Primo        SG  SAS
31    30             Trey Murphy     SG,SF  NOP
32    31            Usman Garuba        PF  HOU
33    32               BJ Boston        SG  LAC
34    33              Greg Brown        PF  POR
35    34            Jericho Sims         C  NYK
36    35          Jaden Springer        SG  PHI
37    36   Sandro Mamukelashvili      PF,C  MIL
38    37            Jared Butler        SG  UTA
39    38             Moses Moody        SF  GSW
40    39           Dalano Banton        SF  TOR
42    40              Luke Garza         C  DET
43    41           Neemias Queta         C  SAC
44    42            Santi Aldama      PF,C  MEM
45    43         James Bouknight        SG  CHA
46    44                 JT Thor        PF  CHA
47    45           Miles McBride        PG  NYK
48    46    Georgios Kalaitzakis        SF  MIL
49    47           Jalen Johnson        SF  ATL
50    48            Joe Wieskamp        SG  SAS
51    49             Isaiah Todd        PF  WAS
52    50           Scottie Lewis        SG  CHA
53    51               Kai Jones         C  CHA
54    52          Sharife Cooper        PG  ATL

In [75]:
df.to_csv('C:\\Users\\user\\Solo Dolo\\NBA_rookie_career\\data\\player_team.csv')

In [70]:
'Cade Cunningham'== 'Cade Cunningham'

True

In [77]:
standing_url ='https://www.basketball-reference.com/leagues/NBA_2022_rookies.html'

In [79]:
data_games = requests.get(standing_url)

In [80]:
matches_games = pd.read_html(data_games.text, match="Rookies")[0]

In [81]:
matches_games

    Unnamed: 0_level_0  Unnamed: 1_level_0        Unnamed: 2_level_0  \
                    Rk              Player                     Debut
0                    1        Santi Aldama    Oct 27, '21, MEM @ POR
1                    2       Jose Alvarado     Nov 3, '21, NOP @ SAC
2                    3          Joel Ayayi    Oct 25, '21, WAS @ BRK
3                    4       Dalano Banton  Oct 20, '21, TOR vs. WAS
4                    5          Cat Barber    Dec 25, '21, ATL @ NYK
..                 ...                 ...                       ...
133                122     Ziaire Williams  Oct 20, '21, MEM vs. CLE
134                123  McKinley Wright IV  Oct 20, '21, MIN vs. HOU
135                124        Moses Wright    Dec 22, '21, LAC @ SAC
136                125           Gabe York     Apr 9, '22, IND @ PHI
137                126      Omer Yurtseven  Oct 21, '21, MIA vs. MIL

    Unnamed: 3_level_0 Unnamed: 4_level_0 Totals                               \
                   Age                Yrs      G    MP   FG  FGA  3P  3PA  FT
0                   21                  1     32   360   53  132   6   48  20
1                   23                  1     54   834  131  294  32  110  36
2                   21                  1      7    20    1    6   0    1   0
3                   22                  1     64   696   83  202  13   51  26
4                   27                  1      3    13    0    4   0    0   0
..                 ...                ...    ...   ...  ...  ...  ..  ...  ..
133                 20                  1     62  1346  191  424  76  242  43
134                 23                  1      5    19    2    3   1    2   0
135                 23                  1      4    14    1    4   0    1   3
136                 28                  1      2    21    2    7   1    6   3
137                 23                  1     56   706  130  247   1   11  38

                                            Shooting              Per Game  \
    FTA ORB  TRB  AST STL BLK TOV   PF  PTS      FG%   3P%    FT%       MP
0    32  33   87   21   6  10  16   36  132     .402  .125   .625     11.3
1    53  25  100  152  71   7  40   73  330     .446  .291   .679     15.4
2     0   1    3    4   0   0   0    0    2     .167  .000    NaN      2.9
3    44  38  124   99  28  10  53   68  205     .411  .255   .591     10.9
4     4   1    3    3   0   0   1    1    0     .000   NaN   .000      4.3
..   ..  ..  ...  ...  ..  ..  ..  ...  ...      ...   ...    ...      ...
133  55  26  129   65  35  12  41  113  501     .450  .314   .782     21.7
134   0   0    0    3   0   0   1    1    5     .667  .500    NaN      3.8
135   3   1    3    2   0   1   0    0    5     .250  .000  1.000      3.5
136   5   0    2    4   2   1   1    4    8     .286  .167   .600     10.5
137  61  85  294   49  17  20  41   84  299     .526  .091   .623     12.6


     PTS  TRB  AST
0    4.1  2.7  0.7
1    6.1  1.9  2.8
2    0.3  0.4  0.6
3    3.2  1.9  1.5
4    0.0  1.0  1.0
..   ...  ...  ...
133  8.1  2.1  1.0
134  1.0  0.0  0.6
135  1.3  0.8  0.5
136  4.0  1.0  2.0
137  5.3  5.3  0.9

[138 rows x 28 columns]

In [82]:
matches_games.columns

MultiIndex([('Unnamed: 0_level_0',     'Rk'),
            ('Unnamed: 1_level_0', 'Player'),
            ('Unnamed: 2_level_0',  'Debut'),
            ('Unnamed: 3_level_0',    'Age'),
            ('Unnamed: 4_level_0',    'Yrs'),
            (            'Totals',      'G'),
            (            'Totals',     'MP'),
            (            'Totals',     'FG'),
            (            'Totals',    'FGA'),
            (            'Totals',     '3P'),
            (            'Totals',    '3PA'),
            (            'Totals',     'FT'),
            (            'Totals',    'FTA'),
            (            'Totals',    'ORB'),
            (            'Totals',    'TRB'),
            (            'Totals',    'AST'),
            (            'Totals',    'STL'),
            (            'Totals',    'BLK'),
            (            'Totals',    'TOV'),
            (            'Totals',     'PF'),
            (            'Totals',    'PTS'),
            (          'Shooting',    'FG%'),
            (          'Shooting',    '3P%'),
            (          'Shooting',    'FT%'),
            (          'Per Game',     'MP'),
            (          'Per Game',    'PTS'),
            (          'Per Game',    'TRB'),
            (          'Per Game',    'AST')],
           )

In [83]:
matches_games.columns = matches_games.columns.droplevel()

In [84]:
matches_games

,Rk,Player,Debut,Age,Yrs,G,MP,FG,FGA,3P,3PA,FT,FTA,ORB,TRB,AST,STL,BLK,TOV,PF,PTS,FG%,3P%,FT%,MP,PTS,TRB,AST
0,1,Santi Aldama,"Oct 27, '21, MEM @ POR",21,1,32,360,53,132,6,48,20,32,33,87,21,6,10,16,36,132,.402,.125,.625,11.3,4.1,2.7,0.7
1,2,Jose Alvarado,"Nov 3, '21, NOP @ SAC",23,1,54,834,131,294,32,110,36,53,25,100,152,71,7,40,73,330,.446,.291,.679,15.4,6.1,1.9,2.8
2,3,Joel Ayayi,"Oct 25, '21, WAS @ BRK",21,1,7,20,1,6,0,1,0,0,1,3,4,0,0,0,0,2,.167,.000,NaN,2.9,0.3,0.4,0.6
3,4,Dalano Banton,"Oct 20, '21, TOR vs. WAS",22,1,64,696,83,202,13,51,26,44,38,124,99,28,10,53,68,205,.411,.255,.591,10.9,3.2,1.9,1.5
4,5,Cat Barber,"Dec 25, '21, ATL @ NYK",27,1,3,13,0,4,0,0,0,4,1,3,3,0,0,1,1,0,.000,NaN,.000,4.3,0.0,1.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
133,122,Ziaire Williams,"Oct 20, '21, MEM vs. CLE",20,1,62,1346,191,424,76,242,43,55,26,129,65,35,12,41,113,501,.450,.314,.782,21.7,8.1,2.1,1.0
134,123,McKinley Wright IV,"Oct 20, '21, MIN vs. HOU",23,1,5,19,2,3,1,2,0,0,0,0,3,0,0,1,1,5,.667,.500,NaN,3.8,1.0,0.0,0.6
135,124,Moses Wright,"Dec 22, '21, LAC @ SAC",23,1,4,14,1,4,0,1,3,3,1,3,2,0,1,0,0,5,.250,.000,1.000,3.5,1.3,0.8,0.5
136,125,Gabe York,"Apr 9, '22, IND @ PHI",28,1,2,21,2,7,1,6,3,5,0,2,4,2,1,1,4,8,.286,.167,.600,10.5,4.0,1.0,2.0
137,126,Omer Yurtseven,"Oct 21, '21, MIA vs. MIL",23,1,56,706,130,247,1,11,38,61,85,294,49,17,20,41,84,299,.526,.091,.623,12.6,5.3,5.3,0.9

In [86]:
common_cols = 'Rk	Player	Debut	Age	Yrs	G	MP	FG	FGA	3P	3PA	FT	FTA	ORB	TRB	AST	STL	BLK	TOV	PF	PTS	FG%	3P%	FT%'.split('	')
per_game = [col+'pg' for col in 'MP	PTS	TRB	AST'.split('	')]

In [88]:
clean_cols = commol_cols+per_game
matches_games.columns = clean_cols
matches_games.head()

,Rk,Player,Debut,Age,Yrs,G,MP,FG,FGA,3P,3PA,FT,FTA,ORB,TRB,AST,STL,BLK,TOV,PF,PTS,FG%,3P%,FT%,MPpg,PTSpg,TRBpg,ASTpg
0,1,Santi Aldama,"Oct 27, '21, MEM @ POR",21,1,32,360,53,132,6,48,20,32,33,87,21,6,10,16,36,132,.402,.125,.625,11.3,4.1,2.7,0.7
1,2,Jose Alvarado,"Nov 3, '21, NOP @ SAC",23,1,54,834,131,294,32,110,36,53,25,100,152,71,7,40,73,330,.446,.291,.679,15.4,6.1,1.9,2.8
2,3,Joel Ayayi,"Oct 25, '21, WAS @ BRK",21,1,7,20,1,6,0,1,0,0,1,3,4,0,0,0,0,2,.167,.000,NaN,2.9,0.3,0.4,0.6
3,4,Dalano Banton,"Oct 20, '21, TOR vs. WAS",22,1,64,696,83,202,13,51,26,44,38,124,99,28,10,53,68,205,.411,.255,.591,10.9,3.2,1.9,1.5
4,5,Cat Barber,"Dec 25, '21, ATL @ NYK",27,1,3,13,0,4,0,0,0,4,1,3,3,0,0,1,1,0,.000,NaN,.000,4.3,0.0,1.0,1.0

In [89]:
df_array=[]
years = [2020,2021,2022]
for year in years:
    standing_url ='https://www.basketball-reference.com/leagues/NBA_'+str(year)+'_rookies.html'
    data_games = requests.get(standing_url)
    matches_games = pd.read_html(data_games.text, match="Rookies")[0]
    matches_games.columns = matches_games.columns.droplevel()
    matches_games.columns = clean_cols
    df_array.append(matches_games)

In [129]:
new_data = pd.concat(df_array)

In [109]:
new_data.head()

,Rk,Player,Debut,Age,Yrs,G,MP,FG,FGA,3P,3PA,FT,FTA,ORB,TRB,AST,STL,BLK,TOV,PF,PTS,FG%,3P%,FT%,MPpg,PTSpg,TRBpg,ASTpg
0,1,Kyle Alexander,"Aug 6, '20, MIA @ MIL",23,1,2,13,1,2,0,0,0,0,2,3,0,0,0,1,1,2,.500,NaN,NaN,6.5,1.0,1.5,0.0
1,2,Nickeil Alexander-Walker,"Oct 22, '19, NOP @ TOR",21,3,158,3064,543,1404,227,690,154,212,59,415,347,110,53,216,248,1467,.387,.329,.726,19.4,9.3,2.6,2.2
2,3,RJ Barrett,"Oct 23, '19, NYK @ SAS",19,3,198,6632,1246,2981,325,910,652,936,184,1101,568,151,53,414,452,3469,.418,.357,.697,33.5,17.5,5.6,2.9
3,4,Darius Bazley,"Oct 23, '19, OKC @ UTA",19,3,185,4768,672,1656,212,696,285,410,152,1078,237,110,136,257,183,1841,.406,.305,.695,25.8,10.0,5.8,1.3
4,5,Goga Bitadze,"Oct 26, '19, IND @ CLE",20,3,149,1761,284,596,51,201,133,188,164,433,115,40,139,91,266,752,.477,.254,.707,11.8,5.0,2.9,0.8

In [170]:
new_data.isna().sum()

Rk             0
Player         0
Debut          0
Age            0
Yrs            0
G              0
MP             0
FG             0
FGA            0
3P             0
3PA            0
FT             0
FTA            0
ORB            0
TRB            0
AST            0
STL            0
BLK            0
TOV            0
PF             0
PTS            0
FG%            7
3P%           24
FT%           42
MPpg           0
PTSpg          0
TRBpg          0
ASTpg          0
Team           0
Year           0
Year_index     0
Team_index    29
dtype: int64

In [131]:
indices_to_keep = (new_data['Age'].str.isdigit())
new_data = new_data[indices_to_keep].reset_index(drop=True)
new_data = new_data[~(new_data.Player.isna())]

In [132]:
new_data.shape

(338, 28)

In [133]:
new_data.head()

,Rk,Player,Debut,Age,Yrs,G,MP,FG,FGA,3P,3PA,FT,FTA,ORB,TRB,AST,STL,BLK,TOV,PF,PTS,FG%,3P%,FT%,MPpg,PTSpg,TRBpg,ASTpg
0,1,Kyle Alexander,"Aug 6, '20, MIA @ MIL",23,1,2,13,1,2,0,0,0,0,2,3,0,0,0,1,1,2,.500,NaN,NaN,6.5,1.0,1.5,0.0
1,2,Nickeil Alexander-Walker,"Oct 22, '19, NOP @ TOR",21,3,158,3064,543,1404,227,690,154,212,59,415,347,110,53,216,248,1467,.387,.329,.726,19.4,9.3,2.6,2.2
2,3,RJ Barrett,"Oct 23, '19, NYK @ SAS",19,3,198,6632,1246,2981,325,910,652,936,184,1101,568,151,53,414,452,3469,.418,.357,.697,33.5,17.5,5.6,2.9
3,4,Darius Bazley,"Oct 23, '19, OKC @ UTA",19,3,185,4768,672,1656,212,696,285,410,152,1078,237,110,136,257,183,1841,.406,.305,.695,25.8,10.0,5.8,1.3
4,5,Goga Bitadze,"Oct 26, '19, IND @ CLE",20,3,149,1761,284,596,51,201,133,188,164,433,115,40,139,91,266,752,.477,.254,.707,11.8,5.0,2.9,0.8

In [134]:
new_data['Team'] = new_data['Debut'].apply(lambda d : d.split(',')[-1])
new_data['Team'] = new_data['Team'].apply(lambda d : d.strip()[:3])
display(new_data.head(2))

,Rk,Player,Debut,Age,Yrs,G,MP,FG,FGA,3P,3PA,FT,FTA,ORB,TRB,AST,STL,BLK,TOV,PF,PTS,FG%,3P%,FT%,MPpg,PTSpg,TRBpg,ASTpg,Team
0,1,Kyle Alexander,"Aug 6, '20, MIA @ MIL",23,1,2,13,1,2,0,0,0,0,2,3,0,0,0,1,1,2,.500,NaN,NaN,6.5,1.0,1.5,0.0,MIA
1,2,Nickeil Alexander-Walker,"Oct 22, '19, NOP @ TOR",21,3,158,3064,543,1404,227,690,154,212,59,415,347,110,53,216,248,1467,.387,.329,.726,19.4,9.3,2.6,2.2,NOP

In [161]:
new_data['Year'] = new_data['Debut'].apply(lambda d : '20'+d.split(",")[1].strip().strip('\''))
#new_data['Year'] = new_data['Year'].apply(lambda d : d.strip()[:3])
display(new_data.head(2))

,Rk,Player,Debut,Age,Yrs,G,MP,FG,FGA,3P,3PA,FT,FTA,ORB,TRB,AST,STL,BLK,TOV,PF,PTS,FG%,3P%,FT%,MPpg,PTSpg,TRBpg,ASTpg,Team,Year
0,1,Kyle Alexander,"Aug 6, '20, MIA @ MIL",23,1,2,13,1,2,0,0,0,0,2,3,0,0,0,1,1,2,.500,NaN,NaN,6.5,1.0,1.5,0.0,MIA,2020
1,2,Nickeil Alexander-Walker,"Oct 22, '19, NOP @ TOR",21,3,158,3064,543,1404,227,690,154,212,59,415,347,110,53,216,248,1467,.387,.329,.726,19.4,9.3,2.6,2.2,NOP,2019

In [162]:
new_data.Year.value_counts()

2021    146
2019     92
2020     85
2022     15
Name: Year, dtype: int64

In [164]:
import json
with open('team_mapper.json') as json_file:
    team_mapper = json.load(json_file)

In [173]:
team_map ={
    'NOK':'NOP',#pelicans
    'SDC':'LAC',# clippers
    #'NOP':'NOP',#pelicans
    'CHO':'CHH', #hornets
    'KCK':'SAC', # kings
    'VAN':'MEM', # grizzs
    'NOH':'NOP', # pelicans
    #'BRK':'BRK', # Nets
    'CHA':'CHH', # hornets
    #'OKC':'OKC', # okc
    'WAS':'WSH', #wizards
    #'TOR':'TOR', # raptors
    'WSB':'WSH', # wizards
    'SEA':'OKC', # sonics now okc
    'NJN':'BRK',#nets
    }

In [174]:
for old_team, new_team in team_map.items():
    new_data['Team'].replace(old_team, new_team, inplace=True)

In [175]:
    new_data['Year'] = pd.to_numeric(new_data.Year)
    new_data['Year_index'] = new_data['Year'] - 1979
    new_data['Team_index'] = new_data['Team'].map(team_mapper)

In [176]:
new_data.head()

,Rk,Player,Debut,Age,Yrs,G,MP,FG,FGA,3P,3PA,FT,FTA,ORB,TRB,AST,STL,BLK,TOV,PF,PTS,FG%,3P%,FT%,MPpg,PTSpg,TRBpg,ASTpg,Team,Year,Year_index,Team_index
0,1,Kyle Alexander,"Aug 6, '20, MIA @ MIL",23,1,2,13,1,2,0,0,0,0,2,3,0,0,0,1,1,2,.500,NaN,NaN,6.5,1.0,1.5,0.0,MIA,2020,41,15
1,2,Nickeil Alexander-Walker,"Oct 22, '19, NOP @ TOR",21,3,158,3064,543,1404,227,690,154,212,59,415,347,110,53,216,248,1467,.387,.329,.726,19.4,9.3,2.6,2.2,NOP,2019,40,18
2,3,RJ Barrett,"Oct 23, '19, NYK @ SAS",19,3,198,6632,1246,2981,325,910,652,936,184,1101,568,151,53,414,452,3469,.418,.357,.697,33.5,17.5,5.6,2.9,NYK,2019,40,19
3,4,Darius Bazley,"Oct 23, '19, OKC @ UTA",19,3,185,4768,672,1656,212,696,285,410,152,1078,237,110,136,257,183,1841,.406,.305,.695,25.8,10.0,5.8,1.3,OKC,2019,40,20
4,5,Goga Bitadze,"Oct 26, '19, IND @ CLE",20,3,149,1761,284,596,51,201,133,188,164,433,115,40,139,91,266,752,.477,.254,.707,11.8,5.0,2.9,0.8,IND,2019,40,11

In [178]:
rename_dict = {'MPpg':'MPpg',
 'PTSpg':'PTSpg',
 #'FGpg':'field_goals_attempted',
 #'3Ppg':'three_points_attempted',
 #'FTpg':'field_goals_attempted',
 #'ORBpg':'offensive_rebounds',
 #'DRBpg':'defensive_rebounds',
 'TRBpg':'TRBpg',
 'ASTpg':'ASTpg',
 #'STLpg':'steals',
 #'BLKpg':'blocks',
 #'TOVpg':'turnovers',
 #'PFpg':,
 'Age':'Age',
 'Year_index':'Year_index',
 'Team_index':'Team_index',
 'FT':'FT',
 'FT%':'FT%',
 'G':'Games',
 'MP':'MP',
 'FG%':'FG%'}

In [179]:
data_rook = new_data.rename(columns = rename_dict)

In [180]:
data_rook.head()

,Rk,Player,Debut,Age,Yrs,Games,MP,FG,FGA,3P,3PA,FT,FTA,ORB,TRB,AST,STL,BLK,TOV,PF,PTS,FG%,3P%,FT%,MPpg,PTSpg,TRBpg,ASTpg,Team,Year,Year_index,Team_index
0,1,Kyle Alexander,"Aug 6, '20, MIA @ MIL",23,1,2,13,1,2,0,0,0,0,2,3,0,0,0,1,1,2,.500,NaN,NaN,6.5,1.0,1.5,0.0,MIA,2020,41,15
1,2,Nickeil Alexander-Walker,"Oct 22, '19, NOP @ TOR",21,3,158,3064,543,1404,227,690,154,212,59,415,347,110,53,216,248,1467,.387,.329,.726,19.4,9.3,2.6,2.2,NOP,2019,40,18
2,3,RJ Barrett,"Oct 23, '19, NYK @ SAS",19,3,198,6632,1246,2981,325,910,652,936,184,1101,568,151,53,414,452,3469,.418,.357,.697,33.5,17.5,5.6,2.9,NYK,2019,40,19
3,4,Darius Bazley,"Oct 23, '19, OKC @ UTA",19,3,185,4768,672,1656,212,696,285,410,152,1078,237,110,136,257,183,1841,.406,.305,.695,25.8,10.0,5.8,1.3,OKC,2019,40,20
4,5,Goga Bitadze,"Oct 26, '19, IND @ CLE",20,3,149,1761,284,596,51,201,133,188,164,433,115,40,139,91,266,752,.477,.254,.707,11.8,5.0,2.9,0.8,IND,2019,40,11

In [183]:
data_rook.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 338 entries, 0 to 337
Data columns (total 32 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Rk          338 non-null    object
 1   Player      338 non-null    object
 2   Debut       338 non-null    object
 3   Age         338 non-null    object
 4   Yrs         338 non-null    object
 5   Games       338 non-null    object
 6   MP          338 non-null    object
 7   FG          338 non-null    object
 8   FGA         338 non-null    object
 9   3P          338 non-null    object
 10  3PA         338 non-null    object
 11  FT          338 non-null    object
 12  FTA         338 non-null    object
 13  ORB         338 non-null    object
 14  TRB         338 non-null    object
 15  AST         338 non-null    object
 16  STL         338 non-null    object
 17  BLK         338 non-null    object
 18  TOV         338 non-null    object
 19  PF          338 non-null    object
 20  PTS         338 non-null    object
 21  FG%         331 non-null    object
 22  3P%         314 non-null    object
 23  FT%         296 non-null    object
 24  MPpg        338 non-null    object
 25  PTSpg       338 non-null    object
 26  TRBpg       338 non-null    object
 27  ASTpg       338 non-null    object
 28  Team        338 non-null    object
 29  Year        338 non-null    int64
 30  Year_index  338 non-null    int64
 31  Team_index  338 non-null    int64
dtypes: int64(3), object(29)
memory usage: 87.1+ KB

In [192]:
def relevant_cols(df):
    df=df.copy()
    num_cols='Games	MP	FG	FGA	3P	3PA	FT	FTA	ORB	TRB	AST	STL	BLK	TOV	PF	PTS	FG%	3P%	FT%	MPpg	PTSpg	TRBpg	ASTpg'.split('	')
    for col in num_cols:
        df[col] = pd.to_numeric(df[col], errors='coerce')
    df['FGpg'] = df['FG']/df['Games'] #'FGpg':'field_goals_attempted',
    df['3Ppg'] = df['3P']/df['Games'] #'3Ppg':'three_points_attempted',
    df['FTpg'] = df['FT']/df['Games']#'FTpg':'field_goals_attempted',
    df['ORBpg'] = df['ORB']/df['Games'] #'ORBpg':'offensive_rebounds',
    for col in df:
        df[col].replace(np.inf,0, inplace=True)
        df[col].replace(np.nan,0, inplace=True)
    df['DRBpg'] = df['TRBpg']-df['ORBpg'] #'DRBpg':'defensive_rebounds',
    df['STLpg'] = df['STL']/df['Games']  #'STLpg':'steals',
    df['BLKpg'] = df['BLK']/df['Games'] #'BLKpg':'blocks',
    df['TOVpg'] = df['TOV']/df['Games'] #'TOVpg':'turnovers',
    df['PFpg'] = df['PF']/df['Games'] #'PFpg':,
    for col in df:
        df[col].replace(np.inf,0, inplace=True)
        df[col].replace(np.nan,0, inplace=True)
    return df

In [193]:
data_rook = relevant_cols(data_rook)

In [195]:
predictors=['MPpg',
 'PTSpg',
 'FGpg',
 '3Ppg',
 'FTpg',
 'ORBpg',
 'DRBpg',
 'TRBpg',
 'ASTpg',
 'STLpg',
 'BLKpg',
 'TOVpg',
 'PFpg',
 'Age',
 'Year_index',
 'Team_index',
 'FT',
 'FT%',
 'Games',
 'MP',
 'FG%']
data_rook[predictors].head()

,MPpg,PTSpg,FGpg,3Ppg,FTpg,ORBpg,DRBpg,TRBpg,ASTpg,STLpg,BLKpg,TOVpg,PFpg,Age,Year_index,Team_index,FT,FT%,Games,MP,FG%
0,6.5,1.0,0.500000,0.000000,0.000000,1.000000,0.500000,1.5,0.0,0.000000,0.000000,0.500000,0.500000,23,41,15,0,0.000,2,13,0.500
1,19.4,9.3,3.436709,1.436709,0.974684,0.373418,2.226582,2.6,2.2,0.696203,0.335443,1.367089,1.569620,21,40,18,154,0.726,158,3064,0.387
2,33.5,17.5,6.292929,1.641414,3.292929,0.929293,4.670707,5.6,2.9,0.762626,0.267677,2.090909,2.282828,19,40,19,652,0.697,198,6632,0.418
3,25.8,10.0,3.632432,1.145946,1.540541,0.821622,4.978378,5.8,1.3,0.594595,0.735135,1.389189,0.989189,19,40,20,285,0.695,185,4768,0.406
4,11.8,5.0,1.906040,0.342282,0.892617,1.100671,1.799329,2.9,0.8,0.268456,0.932886,0.610738,1.785235,20,40,11,133,0.707,149,1761,0.477

In [196]:
data_rook.to_csv('C:\\Users\\user\\Solo Dolo\\NBA_rookie_career\\data\\rookie_20-22.csv')